<ion-header>
  <ion-toolbar>
 <ion-title>
  Contacts
 </ion-title>
   <ion-buttons slot="secondary">
     <ion-icon class="iconStyle"  color="tertiary" name="funnel" (click)="sortList()"></ion-icon>
     <ion-icon class="iconStyle" color="tertiary" name="add-circle-outline" (click)="addContacts()"></ion-icon>
     <ion-icon class="iconStyle" color="tertiary" name="log-out" (click)="logout()"></ion-icon>
 </ion-buttons>
</ion-toolbar>
<!-- <ion-searchbar slot="fixed" autocomplete="on" placeholder="Search Aarti" [(ngModel)]="searchAarti" (ionChange)="searchList($event)">
</ion-searchbar> -->
<ion-searchbar placeholder="Search" mode=ios (ionChange)="searchList($event)"></ion-searchbar>
  <!-- <ion-toolbar>
    <ion-title>Contacts</ion-title>
    <ion-icon ios="ios-funnel"></ion-icon>
    <ion-icon ios="ios-add"></ion-icon>
    <ion-searchbar placeholder="Filter Schedules" mode=ios></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of copyData;let i=index" class="ion-no-padding">
    <ion-item (click)="viewDetails(item)">
      <ion-avatar slot="start">
        <img src="../../../assets/icon/defaultIcon.png">
      </ion-avatar>
      <ion-label style="color: white;">{{item.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
